<form action="/users" method="post">
  <input type="text" name="first_name" value="">
  <input type="text" name="last_name" value="">
  <input type="text" name="email" value="">
  <input type="text" name="username" value="">
  <input type="password" name="password" value="">
  <input type="submit" name="" value="Signup">
</form>